
@{
    ViewBag.Title = "About";
}

<h2>O que é o Banco Alimentar Contra a Fome?</h2>
<text> Banco Alimentar Contra a Fome é uma resposta necessária mas provisória porque "toda a pessoa tem direito a um nível de vida suficiente que lhe assegure e à sua família a saúde e o bem-estar, principalmente quanto à alimentação, ao vestuário, ao alojamento, à assistência médica e ainda aos serviços sociais necessários" (Excerto do artigo 25º da Declaração Universal dos Direitos do Homem).

Os Bancos Alimentares são Instituições Particulares de Solidariedade Social que lutam contra o desperdício de produtos alimentares, encaminhando-os para distribuição gratuita às pessoas carenciadas.

São organizações de pessoas de boa vontade que, juntando os seus esforços de uma forma voluntária, pretendem minorar o problema da fome numa determinada região.</text>
<p></p>
<h2>Qual o objetivo principal do Banco Alimentar?</h2>
<text>O objetivo principal do Banco Alimentar, é a luta contra o desperdício. Numa economia de mercado que gera excedentes alimentares em perfeitas condições de consumo, mas que por razões diversas não são comercializáveis, a postura de gratuitidade dos Bancos Alimentares chega a ser provocatória.</text>

