<style>
    .glyphicon {
        font-size: 25px;
   }
</style>
<p></p>
<div class="row"">
    <div class="col-sm-12">
        <h2>Contatos</h2>
        <span><i class="glyphicon glyphicon-pushpin	Try it"></i>  Avenida de Ceuta, Estação de Alcântara-Terra, Armazém 1 | 1300-125 LISBOA</span>
        <p></p>
        <span><i class="glyphicon glyphicon-earphone"></i>  917491866</span>
        <p></p>
        <a href="mailto:ba.federacao@bancoalimentar.pt">
            <span><i class="glyphicon glyphicon-envelope"></i></span>
        </a> ba.federacao@bancoalimentar.pt
        <p></p>
        <span><i class="glyphicon glyphicon-calendar"></i>  9:00 - 13:00 | 14:30 - 18:00</span>
</div>

