<p></p>
<div class="row">
    <div class="col-sm-3">   
        <img src="https://upload.wikimedia.org/wikipedia/pt/a/ab/Log%C3%B3tipo_do_Banco_Alimentar_Contra_a_Fome.png" alt="Banco Alimentar" style="width:90%">
    </div>
    <div class="col-sm-6" style="text-align:left; vertical-align:central;">
        <p>
            <br>
    O Banco Alimentar Contra a Fome MHL é constítuido por 21 bancos alimentares de Portugal, que são 21 associações independentes e estão associadas na Federação Portuguesa dos Bancos Alimentares Contra a Fome. <br><br>
    Os bancos alimentares são Instituições Particulares de Solidariedade Social que lutam contra o desperdício de produtos alimentares, encaminhando-os para distribuição gratuita às pessoas carenciadas.<br><br> Em Portugal, os bancos alimentares em atividade recolhem e distribuem várias dezenas de milhares de toneladas de produtos e apoiam ao longo de todo o ano, a ação de mais de 2.360 instituições em Portugal. Por sua vez, estas distribuem refeições confecionadas e cabazes de alimentos a pessoas comprovadamente carenciadas, abrangendo já a distribuição total mais de 390.000 pessoas.
        </p>
    </div>
</div>